body{

    margin: 0;
    padding: 0;
    color: white;
    width: 100vw;
    height: 100vh;
    font-family: 'Wallpoet', cursive;
    text-shadow: 10px 10px 8px black;
    /*border: 10px solid green;*/
    background-image: url('space.png');
    position: relative;
    
}

#starfield {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*z-index: -1;
    border: 10px solid pink;*/
  
}

#content {

    display: flexbox;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: start;
    /*border: 10px solid red;
    z-index: 1;*/
    padding: 20px;
    font-size: 36px;

}

h1{

    flex: auto;
    font-size: 100px;
    font-weight:200px;
    font-family: 'Monoton', cursive;

}

#countdown{

    font-size: 100px;

}